body, html {
  height: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.image-container {
  position: relative;
  width: 500px;
}

.color-selectors {
  display: flex;
}

.design-image {
  position: absolute;
  width: 35%;
  top: 25%;
  left: 32%;
}

.bg-image {
  position: relative;
  width: 100%;
}

.save-button {
  width: 100%;
  color: white;
  background: slategray;
  border: 5px solid slategray;
  box-shadow: rgb(0 0 0 / 10%) 0px 0px 0px 1;
}

@media only screen and (max-width: 600px) {
  .image-container {
    width: 350px;
  }
}